.my-p{font-family: 'Playfair Display', serif;
}

.my-bg{
  background-color: #E4DDD9;
  
  
}

.city {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
} 
